<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>

    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div id="app">

        <h1>{{ mayusculasTexto }}</h1>
        <h2
            class="bg-dark"
            :class="colorCantidad"
        
        >
        
        Mi saldo disponible es {{ cantidad }}



        </h2>
        <a v-bind:href="enlace">ir al enlace</a>
        <a :href="enlace">ir al enlace</a>

        <hr>

        <h2 v-if="estado">Cuenta Activa</h2>
        <h2 v-else="estado">Cuenta Desactivada</h2>

        <hr>

        <h2 v-if="cantidad > 500">cantidad: {{ cantidad }} </h2>
        <h2 v-else-if="cantidad <= 500 && cantidad > 0">
            Cantidad:
            <span style="color: red;"> {{ cantidad }}</span>
        </h2>
        <h2 v-else=>Sin Cantidad {{ cantidad }}</h2>

        <hr>

        <h2>Mis servicios disponibles</h2>

        <ul>
            <li v-for="(item, index) in servicios" :key="index">{{index + 1}} {{item}}</li>
        </ul>

        <hr>

        <button v-on:click="agregarSaldo">Agregar saldo</button>
        <button @click="quitarSaldo(100)" :disabled="desactivar">Quitar saldo</button>

        <footer-banco
            :valor="cantidad"
            fecha="septiembre 2020"
        />

    </div>


    <script src="main.js"></script>
    <script src="components/Footer.js"></script>
    <script>
        const mountedApp = app.mount('#app');
    </script>
</body>
</html>